html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 18px;
}



  strong, 
  a,
  h1,
  h2,
  h4,
  p,
  li
   {
    font-family: 'Spline Sans Mono', monospace;

  }


    .cc-navbar {
      background-color: rgba(0, 0, 0, 0.55);
  }


  @media (min-width: 1200px) { 
    
  
   
 
}
