html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 18px;
}



  strong, 
  a,
  h1,
  h2,
  h4,
  p,
  li
   {
    font-family: 'Spline Sans Mono', monospace;
  }
  
  a {
     text-decoration: none;
     color: #fff;

  }
  h2 {
    text-align: center;
  }


    .cc-navbar {
      background-color: rgba(0, 0, 0, 0.55);
  }

.cc-section-insta {
  background-color: #38524b;
}

.nav-link {
  color: #fff !important;
}

span {
  font-size: 8px;
}

/*Thank you page*/
.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  color: rgb(10, 68, 20);
}

.cc-thank-you {
  background-color: bisque;
}


  @media (min-width: 1200px) { 
    
    span {
      font-size: 18px;
    }
  
   
 
}
